.container {
  display: flex;
  flex-direction: column;

  margin: 1rem auto;
  max-width: 600px;
}

.f {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mat {
  width: 100%;
}

span {
  color: red;
  margin-bottom: 10px;
}

.example-card {
  max-width: 400px;
}

button {
  width: 30%;
  margin: 1rem;
}

.botones {
  display: flex;
  justify-content: center;
}
